## Day3
- Tuple
- Dictionary
- Sets

### Tuple
- Used to store collection of values
- Tuples are immutable
- ()

In [1]:
# create tuples
tuple1 = ()
tuple2 = tuple()
print(type(tuple1),type(tuple2))

<class 'tuple'> <class 'tuple'>

In [2]:
tuple3 = (10)
type(tuple3)

int

In [3]:
tuple4 = (10,)
type(tuple4)

tuple

In [4]:
# Accessing Value
tuple5 = ('a',10,20.2,'b','l')
tuple5[2]

20.2

In [5]:
tuple5[-1:]

('l',)

In [6]:
tuple5[:-1]

('a', 10, 20.2, 'b')

In [7]:
# List vs Tuple
l1 = [20,25,24,22,12]
t1 = (20,22,24,23,2)

In [9]:
l1[2] = 224

In [10]:
l1

[20, 25, 224, 22, 12]

In [11]:
t1[2] = 224

TypeError: 'tuple' object does not support item assignment

In [12]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [13]:
# count()
tuple6 = (1,10,10,22,22,22,22)
tuple6.count(22)

4

In [14]:
# index()
tuple6.index(22)

3

### Dictionary
- Used to store collection of multiple data type items
- Each item is pair of keys and values seperated with ':'
- {}

In [15]:
# Create dictionary
dict1 = {}
dict2 = dict()
type(dict1),type(dict2)

(dict, dict)

In [19]:
dict3 = {'Key1':'Value1','Key2':'value2','key3':'value3','Key2':'value2'}
dict3

{'Key1': 'Value1', 'Key2': 'value2', 'key3': 'value3'}

In [20]:
# Accessing values
dict4 = {'Name1':'Andhra','Name2':'Layola','Name3':'APSSDC'}
dict4

{'Name1': 'Andhra', 'Name2': 'Layola', 'Name3': 'APSSDC'}

In [21]:
dict4['Name2']

'Layola'

In [22]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [23]:
dict4.get('Name2')

'Layola'

In [24]:
print(dict4.keys())
print(dict4.values())

dict_keys(['Name1', 'Name2', 'Name3'])
dict_values(['Andhra', 'Layola', 'APSSDC'])

In [25]:
dict4

{'Name1': 'Andhra', 'Name2': 'Layola', 'Name3': 'APSSDC'}

In [26]:
dict4.setdefault('Name4','College')

'College'

In [27]:
dict4

{'Name1': 'Andhra', 'Name2': 'Layola', 'Name3': 'APSSDC', 'Name4': 'College'}

### Nested Dictionary
- Dictionary inside Dictionary
- List within a dictionary

In [28]:
# Dictionary inside Dictionary
dict5 = {'Person1':{'Name':'Niharika', 'Dept':'Python'},
        'Person2':{'Name':'Lavanya','Dept':'DA'}}
dict5['Person1']

{'Name': 'Niharika', 'Dept': 'Python'}

In [30]:
dict5['Person2']['Dept']

'DA'

In [31]:
# List within a dictionary
dict6 = {'Student1':['Niharika','IT',2020],
        'Student2':['Lavanya','CSE',2021]}
dict6['Student2']

['Lavanya', 'CSE', 2021]

In [32]:
dict6['Student2'][2]

2021

### Sets
- Used to store Unordered collection of data type items
- sets won't allow duplicate values
- {}

In [33]:
## Create a set
set1 = {}# Not a set data type
type(set1)

dict

In [35]:
set2 = set()# Empty set
type(set2)

set

In [36]:
set3 = {1,10,1,2,2,2,3,35,4,2.1}
type(set3)

set

In [37]:
set3

{1, 2, 2.1, 3, 4, 10, 35}

In [39]:
# We cannot access values using index in set data type
set3[1]

TypeError: 'set' object is not subscriptable

In [40]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [41]:
set4 = {1,2,3,4,5}
set5 = {3,4,5,6,7}

In [43]:
#set4.difference(set5)
set5.difference(set4)

{6, 7}

In [44]:
set5

{3, 4, 5, 6, 7}

In [45]:
set5.difference_update(set4)

In [46]:
set5

{6, 7}

In [50]:
# Intersection
set6 = {'niharika','lavanya','mounika','naga'}
set7 = {'bhavani','niharika','nandhini','naga'}
set6.intersection(set7)

{'naga', 'niharika'}

In [51]:
set6

{'lavanya', 'mounika', 'naga', 'niharika'}

In [52]:
set6.intersection_update(set7)

In [53]:
set6

{'naga', 'niharika'}

In [54]:
set7

{'bhavani', 'naga', 'nandhini', 'niharika'}

In [55]:
set7.discard('naga')

In [56]:
set7

{'bhavani', 'nandhini', 'niharika'}

In [62]:
# isdisjoint
set8 = {1,5,10,15}
set9 = {4,3,4,6,10}

In [60]:
set8.isdisjoint(set9)

False

In [61]:
# Try issubset() by yourself

In [63]:
# union
set8.union(set9)

{1, 3, 4, 5, 6, 10, 15}

### Functions
- Is a group of statements to perform specific task
    - Built-in-functions
    - User-Defined Functions

### 1.Built-in-functions

In [64]:
range(10)

range(0, 10)

In [66]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> set.union
Help on method_descriptor in set:

set.union = union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [1]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit']

In [2]:
abs(-10)

10

In [3]:
min('naga')

'a'

In [4]:
max([10,20])

20

In [6]:
len([1,2,5,8,9])

5

In [7]:
round(3.56)

4

In [8]:
round(3.4)

3

In [9]:
round(3.5)

4

### 2.User-Defined Functions
- Syntax:
    - def func_name(arg1,arg2,...):

In [10]:
def addition(a1,a2):
    print(a1 + a2)

In [11]:
addition(2,3)

5

In [13]:
addition(23,45)

68

In [14]:
def sub(s1,s2):
    return s1 - s2

def mul(m1, m2):
    return m1 * m2

In [15]:
mul(2,3)

6

In [16]:
def evenOdd(num):
    if num % 2 == 0:
        return True
    return False

In [18]:
evenOdd(12)

True